In [1]:
import requests
from bs4 import BeautifulSoup
import bs4
import os 
import pandas as pd
from datetime import datetime
import xlwings as xw 
import re 
import itertools

In [2]:
os.chdir(r'/Users/aymenbaraket/Downloads')
Data_Base='IAS21.xlsx'
df = pd.read_excel(Data_Base,encoding= 'unicode_escape')

In [3]:
P_date=df['Date of purchase']
D_date=df['Payment date']
currency=df['Currency']
P_amount=df['Amount purchased ']
supplier=df['Suppliers']

In [4]:
H_price=[]

for x, y,z in zip(currency, P_date,P_amount):
    y=y.strftime('%Y-%m-%d')
    z=str(z)
    page = requests.get('https://www.x-rates.com/historical/?from='+x+'&amount='+z+'&date='+y)
    soup = BeautifulSoup(page.text, 'html.parser')
    price_box = soup.find('a',{'href':'https://www.x-rates.com/graph/?from='+x+'&to=EUR'})
    price = price_box.text.replace("EUR", ' ')
    H_price.append(price)

In [5]:
df['Historic price']=pd.Series(H_price)
df['Historic price'] = pd.to_numeric(df['Historic price'], downcast="float")

In [6]:
purch_post = {'Posting_date': P_date,'Posting_description':supplier+'_purchase','Debit_account':'Material purchase','Debit_amount': H_price,'Credit_account':supplier+'_liabilities','Credit_amount':H_price}

In [7]:
df_purch_post = pd.DataFrame(data=purch_post)

In [8]:
df_purch_post

,Posting_date,Posting_description,Debit_account,Debit_amount,Credit_account,Credit_amount
0,2020-12-01,Best Citrus_purchase,Material purchase,1275.673423,Best Citrus_liabilities,1275.673423
1,2020-12-01,Delhi flavor_purchase,Material purchase,252.790547,Delhi flavor_liabilities,252.790547
2,2020-12-02,Elec japan_purchase,Material purchase,110.119667,Elec japan_liabilities,110.119667
3,2020-12-02,American corn_purchase,Material purchase,25882.949605,American corn_liabilities,25882.949605
4,2020-12-02,American corn_purchase,Material purchase,37840.883899,American corn_liabilities,37840.883899
...,...,...,...,...,...,...
144,2020-12-31,Delhi flavor_purchase,Material purchase,12.690826,Delhi flavor_liabilities,12.690826
145,2020-12-31,The british milk_purchase,Material purchase,37174.351066,The british milk_liabilities,37174.351066
146,2020-12-31,Toys for all_purchase,Material purchase,3286.869986,Toys for all_liabilities,3286.869986
147,2020-12-31,The british milk_purchase,Material purchase,20573.830063,The british milk_liabilities,20573.830063
148,2020-12-31,Toys for all_purchase,Material purchase,2864.111366,Toys for all_liabilities,2864.111366

In [9]:
today=datetime.now(tz=None)
today='2020-12-31'

In [10]:
Pay_price=[]

for x, y,z in zip(currency, D_date,P_amount):
    y=y.strftime('%Y-%m-%d')
    z=str(z)
    if y<= today:
        page = requests.get('https://www.x-rates.com/historical/?from='+x+'&amount='+z+'&date='+y)
        soup = BeautifulSoup(page.text, 'html.parser')
        price_box = soup.find('a',{'href':'https://www.x-rates.com/graph/?from='+x+'&to=EUR'})
        price = price_box.text.replace("EUR", ' ')
        Pay_price.append(price)
    else:
        Pay_price.append(0)

In [11]:
df['Payment_converted']=pd.Series(Pay_price)
df['Payment_converted'] = pd.to_numeric(df['Payment_converted'], downcast="float")

In [26]:
Gain=[]
Loss=[]
def Gain_loss_calculation(actual,historic):
    
    for x, y in zip(actual,historic):
        if x>y and x!=0:
            delta=abs(y-x)
            Loss.append(delta)
            Gain.append(0)
        elif x<y and x!=0:
            delta=abs(y-x)
            Gain.append(delta)
            Loss.append(0)
        else:
            Gain.append(0)
            Loss.append(0)
Gain_loss_calculation(df['Payment_converted'],df['Historic price'])

In [27]:
close_pay=[]
def payment(date,payables):
    for x, y in zip(date,payables):
        x=x.strftime('%Y-%m-%d')
        if x<=today:
            close_pay.append(y)
        else:
            close_pay.append(0)

payment(df['Payment date'],H_price)

In [28]:
payment={'Posting_date': D_date,'Posting_description':supplier+'_payment','Debit_account':supplier+'_liabilities','Debit_amount': close_pay,'Debit_account2':'Loss change in '+currency,'Debit_amount2': Loss,'Credit_account':'Bank','Credit_amount':Pay_price,'Credit_account2':'Gain change in '+currency,'Credit_amount2':Gain}

In [29]:
df_pay_post = pd.DataFrame(data=payment)

In [31]:
Accounting_posting=df_purch_post.append(df_pay_post).fillna('no posting')

In [32]:
Accounting_posting

,Posting_date,Posting_description,Debit_account,Debit_amount,Credit_account,Credit_amount,Debit_account2,Debit_amount2,Credit_account2,Credit_amount2
0,2020-12-01,Best Citrus_purchase,Material purchase,1275.673423,Best Citrus_liabilities,1275.673423,no posting,no posting,no posting,no posting
1,2020-12-01,Delhi flavor_purchase,Material purchase,252.790547,Delhi flavor_liabilities,252.790547,no posting,no posting,no posting,no posting
2,2020-12-02,Elec japan_purchase,Material purchase,110.119667,Elec japan_liabilities,110.119667,no posting,no posting,no posting,no posting
3,2020-12-02,American corn_purchase,Material purchase,25882.949605,American corn_liabilities,25882.949605,no posting,no posting,no posting,no posting
4,2020-12-02,American corn_purchase,Material purchase,37840.883899,American corn_liabilities,37840.883899,no posting,no posting,no posting,no posting
...,...,...,...,...,...,...,...,...,...,...
144,2021-01-15,Delhi flavor_payment,Delhi flavor_liabilities,0,Bank,0,Loss change in INR,0,Gain change in INR,0
145,2021-01-15,The british milk_payment,The british milk_liabilities,0,Bank,0,Loss change in GBP,0,Gain change in GBP,0
146,2021-01-15,Toys for all_payment,Toys for all_liabilities,0,Bank,0,Loss change in CNY,0,Gain change in CNY,0
147,2021-01-15,The british milk_payment,The british milk_liabilities,0,Bank,0,Loss change in GBP,0,Gain change in GBP,0
148,2021-01-15,Toys for all_payment,Toys for all_liabilities,0,Bank,0,Loss change in CNY,0,Gain change in CNY,0

In [ ]:
wb = xw.Book(r"/Users/aymenbaraket/Reporting/IAS21.xlsx")
sheet = wb.sheets('Accounting_Posting')  #Name of sheet where to append df
sheet.range("A1").value=Accounting_posting